<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
    <title>Animal Crossing Inventory</title>
  </head>
  <body>
    <header class="container">
      <div class="row">
        <h1 class="col-sm-6">Animal Crossing Inventory Tracker</h1>
        <nav class="navbar navbar-expand-md">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="allItems">All Items</a></li>
            <li class="nav-item"><a class="nav-link" href="myItems">My Items</a></li>
            <li class="nav-item"><a class="nav-link" href="favorites">Favorite Items</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section>
      <div class="jumbotron">
        <h1>Welcome! Keep track of your Animal Crossing Inventory in one place. Browse inventory categories below, find your favorites, and add them to your collection here.</h1>
        <h6>Please note: this is just an app to keep track of the items you own in game. This does not allow you to purchase items for use in the game.</h6>
      </div>
      <div class="inventory-categories">
        <ul>
          <li><a href=""><img src="images/placeholder.png"><caption>Accessories</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Achievements</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Art</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Bags</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Bottoms</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Construction</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Dress-Up</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Fencing</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Fish</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Floors</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Fossils</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Headwear</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Housewares</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Insects</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Miscellaneous</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Music</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Other</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Photos</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Posters</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Reactions</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Recipes</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Rugs</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Shoes</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Socks</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Tools</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Tops</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Umbrellas</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Villagers</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Wall-Mounted</caption></a></li>
          <li><a href=""><img src="images/placeholder.png"><caption>Wallpaper</caption></a></li>
        </ul>
      </div>
    </section>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  </body>
</html>
